{% extends 'base.html.twig' %}

{% block title %}new ticket{% endblock %}

{% block body %}
    new ticket by {{ app.user.email }}
    <hr>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}