<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
</head>
<body>

{% set user = app.user %}
{% if user is defined and user is not null %}
	<div class="container" style="width: 90%; max-width: 90%;">
		<div class="row">
			<div class="col">hello {{ user.email }}!
				{% if app.request.attributes.get("_route") != 'ticket_list' %} |
				<a href="{{ path('ticket_list') }}" class="btn btn-default">dashboard</a>{% endif %}</div>
			<div class="col" style="text-align: right;"><a href="{{ path('logout') }}" class="btn btn-default">logout
					-></a></div>
		</div>
	</div>
{% endif %}
<hr>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
