{% extends "base.html.twig" %}

{% block body %}
	<h3>beautiful custom error page</h3>
	<hr>

	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ type }}" role="alert">{{ message }}</div>
		{% endfor %}
	{% endfor %}
{% endblock %}