{% extends 'base.html.twig' %}

{% block title %}ticket list{% endblock %}

{% block body %}

	{% set tickets = user_tickets(user) %}
	<div class="container" style="width: 90%; max-width: 90%;">
		<div class="row">
			<div class="col">

				{% if user.role == 'ROLE_CUSTOMER' %}
					<div>
						<a href="{{ path('add_ticket') }}" class="btn btn-info">create ticket</a>
					</div>
					<hr>
				{% endif %}

				<div>my ticket list:</div>
				<ul>
					{% for ticket in tickets %}
						<li>({{ ticket.number }}) {{ ticket.title }}
							[created by <strong>{{ ticket.creator.first_name }} {{ ticket.creator.last_name }}</strong>]
							[assigned
							to
							<strong>{% if ticket.assignor %}{{ ticket.assignor.first_name }} {{ ticket.assignor.last_name }}{% else %}nobody{% endif %}
							</strong>] {% if user.role == 'ROLE_ADMIN' %}
								<form method="post" action="{{ path('assign_ticket') }}">
									<input type="hidden" name="ticket_number" value="{{ ticket.number }}">
									<select name="admin_selected">
										{% for admin in admins(user) %}
											<option value="{{ admin.email }}">{{ admin.first_name }} {{ admin.last_name }}</option>
										{% endfor %}
									</select><input type="submit" value="assign!"/></form> {% endif %}
							{% for message in ticket_messages(ticket) %}
								<p>{{ message.author.first_name }} {{ message.author.last_name }}
									: {{ message.text }}</p>
							{% endfor %}
							<form action="{{ path('write_message', {'number': ticket.number}) }}" method="post">
								<textarea name="text"></textarea>
								<input type="submit" value="Write!"/>
							</form>
							<a href="{{ path('close_ticket', {'number': ticket.number}) }}">close me!</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col">
				{% if user.role == 'ROLE_ADMIN' %}
					<div>unassigned ticket list:</div>
					<ul>
						{% for ticket in unassigned(user) %}
							<li>
								({{ ticket.number }}) {{ ticket.title }} | <a
										href="{{ path('claim_ticket', {'number': ticket.number}) }}"
										class="btn btn-default">Claim!</a>
								{% for message in ticket_messages(ticket) %}
									<p>{{ message.author.first_name }} {{ message.author.last_name }}
										: {{ message.text }}</p>
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>

	<hr>
	<div class="container" style="width: 90%; max-width: 90%;">
		<div class="row">
			<div class="col">
				<div>closed ticket list:</div>
				<ul>
					{% for ticket in closed(user) %}
						<li>
							({{ ticket.number }}) {{ ticket.title }}
							{% for message in ticket_messages(ticket) %}
								<p>{{ message.author.first_name }} {{ message.author.last_name }}
									: {{ message.text }}</p>
							{% endfor %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}